<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="specifyNo" value=""/>
	<add key="FilePath" value="D:\tjm\file\"/>
    <add key="PicPath" value="D:\tjm\"/>
    <add key="RQCodePath" value="D:\tjm\QRcod\"/>
    <add key="MarkPath" value="D:\tjm\"/>
    <add key="LogPath" value="D:\tjm\Log\"/>
    <add key="ProcessDate" value="50"/>
    <add key="ConnectionStr" value="Driver={SQL Server};Server=192.168.0.103;Database=TJMDBNew;Uid=sa;Pwd=Proj07014;"/>
    <!--
    <add key="ConnectionStr" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SID=XE)));User Id=edson;Password=666;Unicode=True;"/>
    <add key="ConnectionStr" value="Driver={SQL Server};Server=127.0.0.1;Database=TJMDBOut;Uid=sa;Pwd=666;"/>
    <add key="SvrDataBase" value="sqlserver"/>
    -->

  </appSettings>
</configuration>